@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.scrollView{
  position: fixed;
  top: 5.5%;
  right: 0px;
  padding: 1em;
  margin: 0;
  background:white;
  border-radius: 20px;
  color: black;
  transition: 0.5s;
  z-index: 2;
}

html{
  
}

body{
  font-family: 'Kanit', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
}

header{
  position: fixed;
  display: flex;
  background-color: hsl(40, 75%, 90%);
  z-index: 80;
}
.header-left{
  width: 100%;
  color: black;
}
.header-right{
  color: black;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: end;
}
.header-right a{
  text-decoration: none;
  margin: auto 30px auto 30px;
}
.nav-menu{
  color: black;
  cursor: pointer;
}

.fullwidth-img{
  width: 100%;
  max-width: 10%;
  left: 10%;
  cursor: pointer;
}

.slide {
  width: 100vw;
  height: 100vh;
}

.fullwidth-grass{
  width: 100%;
  max-width: 1920px;
  position: absolute;
  bottom: 0;
  z-index: 100;
}
.fullwidth-logo{
  width: 100%;
  max-width: 45%;
  position: relative;
  top: 10%;
  left: 1%;
}
.fullwidth-bush{
  width: 100%;
  max-width: 15%;
  position: absolute;
  left: -3%;
  bottom: 0;
  z-index: 70;
}
.fullwidth-jeepCar{
  width: 100%;
  max-width: 15%;
  position: absolute;
  left: 50vw;
  bottom: 10vh;
  transition: 1s;
}
.slide.one{
  scroll-behavior: smooth;
}
.slide.two{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide.three{
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 300vw;
}

  .wrapper {
    scroll-behavior: smooth;
    background-image: url("pictures/BG\ Desktop.jpg");
    background-repeat: repeat-x;
    background-size: 200vw 100vh;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;

  }
  .outer-wrapper {
    scroll-behavior: smooth;
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
  }

  .outer-wrapper {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    ::-webkit-scrollbar {
      display:none;
    }

/* ป้ายกลมหน้า2*/
#circletap{
  position: relative;

}
#tree01{
  position: absolute;
  transform: scale(0.9);
  top: -16.5vw;
}
#text-page2{
  position: absolute;
  font-size: 20px;
  color: black;
  z-index: 70;
}
#text-page3{
  font-size: 100px;
  color: white;
  z-index: 70;
}